@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    background-color: #eff3f4;
    padding: 130px 0 0 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: #4370eb;
    font-weight: 600;
    margin-top: 15px;    
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;
    margin-top: 15px;
}
.menu .navbar ul li a:hover { 
    color: #4370eb 
}
#menu { 
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label{
    cursor:pointer;
    display: none;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-txt{
    flex-basis: 50%;
    margin-right: 25px;
    margin-left: 200px;
}
span{
    color: #4370eb;
    font-size: 25px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}
 .header-txt h1{
    font-size: 50px;
    text-transform: capitalize;
    line-height: 1;
    color: #111419;
    margin-bottom: 35px;
 }
 .header-txt p{
    font-size: 17px;
    color: #515557;
    margin-bottom: 35px;
 }
 .buttons{
    display: flex;
 }
 .btn-1{
    display: inline-block;
    padding: 13px 25px;
    background-color: #4370eb ;
    margin-right: 20px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 100px;
 }
 .header-img{
    flex-basis: 50%;
    text-align: center;    
 }
 .header-img img{
    height: 550px;
    margin-right:100px;
 }
.products {
    padding: 0 0 50px 0;
    text-align: center;
}
h2{
    font-size: 40px;
    color: #111419
}
.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.box{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #F6FAFB;   
}
.box img{
    height: 200px;
}
.product-txt h3{
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px
}
.product-txt p{
    margin-bottom: 25px;
    color: #515557;
}
.precio{
    font-size: 25px;
    font-weight: 700;
    color: #4370eb ! important;
}
.btn-2, .btn-3, .btn-1{
    background-color: #4370eb;
    margin-top: 5px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
footer{
    background-color: #eff3f4;
    max-width: 100%;
    height: 300px;
    }
.footerContainer{
        width: 100%;
        padding: 70px 30px 20px;
    }
    .socialIcons{
        display: flex;
        justify-content: center;   
    }
    .socialIcons a{
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    .socialIcons a i{
        font-size: 2em;
        color: #4370eb;
        opacity: 0.9;
    }
    .socialIcons a:hover{
        background-color: #4370eb;
        transition: 0.5s;
    }
    .socialIcons a:hover i{
        color: white;
        transition: 0.5s;    
    }
    .footerNav{
        margin: 30px 0;
    }
    .footerNav ul{
        display: flex;
        justify-content: center;
    }
    .footerNav ul li a{
        color: black;
        margin: 20px;
        text-decoration: none;
        font-size: 18px;
        opacity: 0.7;
        transition: 0.5s;
    }
    .footerNav ul li a:hover{
        color: #4370eb;        
    }
    .footerBottom{
        background-color: #eff3f4;
        text-align: center;     
    }
    .footerBottom p{
        color: #4370eb;
    }
    .forms{
        text-align: center;      
        margin-top: 20px;                 
    }
    .submenu{
        margin-top: 20px;     
    }
.forms{
    padding: 20px;
    display: block;    
}
.buscar{
    width: 20px;    
}
.enlace{
text-align: center;
padding: 20px;
}
@media (max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu label{        
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }
    .menu .navbar ul li{
        width:100%
    }
    .menu .navbar ul li a{
        color: #FFFFFF;
    }
    .logo{
        display: none;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        height: 550px;      
    }
    .header-content{
        flex-direction: column;
        text-align: center;           
    }
    .header-txt{
        margin-bottom: 20px;
        margin-left: 200px;
    }
    .header-img img{
        display: none;
    }
    .box-container{
        padding: 0 30px 30px 30px;
    }
    .btn-1{
     display: inline-block;
     padding: 13px 25px;
     background-color: #4370eb ;
     margin-right: 20px;
     color: #FFFFFF;
     text-transform: capitalize;
     margin-bottom: 100px;
    }
}
@media (max-width:600px){
    .header-txt{
     padding-top: 0px;
     margin-inline-end: 60px; 
     margin-left: 150px;   
    }
    .buttons{
     display: grid;      
    }
    a.btn-1{
     margin-block-end: 0;
    }
    .forms label{
     display: grid;
     padding: 5px;
    }
    .forms{
     margin-top: 80px;    
    }
    .header{
        height: 730px;
        padding-right: 5px;
    }
}


